<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50199130936-47e4rn5ga3us0d85u5gj4q6gcefr9roi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50199130936-47e4rn5ga3us0d85u5gj4q6gcefr9roi</string>
	<key>API_KEY</key>
	<string>AIzaSyBmuFEoOkzS-apuDURodTgljInf_4Tbldw</string>
	<key>GCM_SENDER_ID</key>
	<string>50199130936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snowflake.safelove</string>
	<key>PROJECT_ID</key>
	<string>snowflake-test-a1a6c</string>
	<key>STORAGE_BUCKET</key>
	<string>snowflake-test-a1a6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50199130936:ios:591c01a3aef52f5b2987cd</string>
	<key>DATABASE_URL</key>
	<string>https://snowflake-test-a1a6c.firebaseio.com</string>
</dict>
</plist>